body{
	background-color:black;
}


#wrapper{
	position:absolute;
	width:800px;
	margin:0 auto;
	left: 50%;
	margin-left: -400px;
	top: 50%;
	margin-top: -400px;
	background-color:white;
}

#header{
	height:50px;
	color: white;
	background-color: red;
	text-align:center;

}

#leftbody{
	float:left;
	width:800px;
	color: white;
	height: 500px;
	background-color:green;

}

#footer{
	text-align:left;
	color: white;
	background-color: blue;
	height:50px;
	clear:both;

}
